@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0f1115;
  color: #f2f2f2;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}
